---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<i>Last updated: Winter 2024</i>
<br>
<br>
{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've been for talks and other events!</a></p>
{% endif %}

<h2>Conference oral presentations</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Conference Talk" %}
	{% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Seminar talks</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Talk" %}
	{% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Posters</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Poster" %}
	{% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Travel</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Travel" %}
	{% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

